%h2.text-center Properties
%h3.text-center= "#{@properties.count} properties found"
- @properties.each do |property|
  %a.property-link{ href: '#', id: "property_#{property.property_id}", rel: property.property_id }
    .property-link-town
      = property.town
    .property-link-price
      = property.price
    .property-link-status
      = property.status

:javascript
  $(function(){
    $('.property-link').on('click', function(e){
      e.preventDefault();
      var prop_id = $(this).attr('rel');
      $.ajax({
        url: "/show-property",
        type: "POST",
        data: { id: prop_id },
        success: function(result){
          $("#show-property-wrapper").html(result).addClass;
        },
        error: function(){
          alert('Error occured');
        }
      });
    });
  });